html {
  height: 100vh;
}

img {
  height: 20;
  width: 20;
}

#pic1 {
  width: 75px;
  height: 75px;
}

#bar {
  width: 600px;
  margin-left: 19%;
}

.top-part {
  display: block;
}
.container {
  display: inline;
}

.line {
  display: inline-block;
}

.t1 {
  table-layout: fixed;
  width: 1000px;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}
.t1 td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 92px;
  word-break: normal;
}
.t1 th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 92px;
  word-break: normal;
}
.t1 .col1 {
  background-color: #ffffff;
  border-color: #3166ff;
  text-align: center;
  vertical-align: middle;
}
.t1 .col2 {
  border-color: #3166ff;
  text-align: center;
  vertical-align: middle;
}
.t1 .col3 {
  border-color: #3166ff;
  text-align: center;
  vertical-align: top;
}

.t2 {
  table-layout: fixed;
  width: 1000px;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}
.t2 td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 109px;
  word-break: normal;
}
.t2 th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 109px;
  word-break: normal;
}
.t2 .col4 {
  background-color: #ffffff;
  border-color: #3166ff;
  text-align: center;
  vertical-align: middle;
}

.t3 {
  border-collapse: collapse;
  table-layout: fixed;
  width: 1000px;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}
.t3 td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 32px;
  word-break: normal;
}
.t3 th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 32px;
  word-break: normal;
}
.t3 .col5 {
  background-color: #ffffff;
  border-color: #3166ff;
  text-align: center;
  vertical-align: middle;
}
.t3 .col6 {
  border-color: #3166ff;
  text-align: center;
  vertical-align: middle;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.dk-footer {
  padding: 40px 25px 0 0;
  background-color: silver;
  position: relative;
  z-index: 2;
  overflow: hidden;
  height: 40px;
  margin-bottom:0px;
}
.lopaaaa{
  text-decoration: none;
  color:black
}
.copyright-menu {

  text-align: right;
}

.copyright-menu li {
  display: inline-block;
  margin-left: 20px;
}

.one {
  color: lightgreen;
  background-color: lightgreen;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  display: inline-block;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: lightblue;
  border-radius: 50%;
  display: inline-block;
}